@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body
{
    font-family: 'Hanken Grotesk', sans-serif !important;
    font-size: 1.2rem !important;
}


/* [1] The container */
.img-hover-zoom {
 
    border-radius: 5px;
    overflow: hidden !important; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  
  
  
  
  
  /* Brightness-zoom Container */
  .img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
    
  }
  
  /* The Transformation */
  .img-hover-zoom--brightness:hover img {
    filter: brightness(50%);
    transform: scale(1.3);
 
  }

  

  /* Container holding the image and the text */

.container-im {
    position: relative;
    text-align: center;
    color: white;
}


/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 25px;
    left: 16px;
}


/* Top right text */

.top-right {
    position: absolute;
    top: 25px;
    right: 16px;
}


/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    color:#fff;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }


  .head-bg
  {
  
    /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important; */
  
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=b81c3c&c2=ab57bd&gt=r&gd=dbb
*/
background: #B81C3C;
background: radial-gradient(at center bottom, #B81C3C, #AB57BD);
    
    
  }
  .nav-item 
  {
    color: #fff !important;
  }
  .nav-underline .nav-link.active
  {
    color: #fff !important;
  }

  .nav-item:hover
  {
    color: #d3c9c9 !important;
  }

  .nav-item:visited
  {
    color: #d3c9c9 !important;
  }


h2{
    font-weight: 800 !important;
}
          


.myheading::after {
    content: "";
    display: block;
    width: 62px;
    padding-top: 3px;
    border-bottom: 5px solid #94037c;
  }
      
  .myheading
  {
    text-decoration: none;
    color: #121212;
  }

  .card-title
  {
    
    font-size: 1.7rem !important;
    
  }

  .card
  {
    border:1px solid #e9e9e9 !important;
    background: #fff !important;
    

  }

  .bgx
  {
    background: #f5f5f5 !important;
  }
  
  .liner
  {
    height: 5px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient( 108.7deg,  rgba(221,22,224,1) 11%, rgba(111,22,190,1) 88.2% );
    background-image: linear-gradient(to right, #6b7dd1, #4b95e1, #2eabe7, #30bfe8, #51d1e4, #4ddbe2, #54e5dc, #64eed3, #50f3c4, #47f6b0, #4df998, #5ffb7a);
    background-image: linear-gradient(to right, #6bd16b, #b3be43, #e3a645, #fe8d68, #ff7f95, #f783b9, #e18edb, #bd9cf5, #97abff, #6fb7ff, #4cc1fc, #3ec8ee);
    background-image: linear-gradient(to right, #4613a6, #6f25ae, #8f3ab6, #ac4fbf, #c766c8, #c479d9, #c08be8, #bd9cf5, #97abff, #6fb7ff, #4cc1fc, #3ec8ee);  
}


  .navcontroller
  {
    text-decoration: none !important;
    
  }
  .nav-scroller-controll
  {
    width: 40px !important;
  }